.col-xs-12.col-sm-6.col-lg-3(ng-if="!isHidden()", ng-switch on="file.mediatype" class="{{file.mediatype}} {{file.subtype}}")
  div(ng-switch-when="inode")
    a(ng-href="{{getPathQueryString()}}", title="{{file.name}}")
      i.fa.fa-folder
      |  {{file.name}}
  div(ng-switch-when="video")
    videofile(data-file="file")
  div(ng-switch-when="image")
    a(ng-href="/info{{getPathQueryString()}}", title="{{file.name}}")
      i.fa.fa-file-image-o
      |  {{file.name}}
  div(ng-switch-when="text")
    a(ng-href="/info{{getPathQueryString()}}", title="{{file.name}}")
      i.fa.fa-file-text-o
      |  {{file.name}}
  div(ng-switch-when="audio")
    a(ng-href="/info{{getPathQueryString()}}", title="{{file.name}}")
      i.fa.fa-file-audio-o
      |  {{file.name}}
  div(ng-switch-when="application" ng-switch on="file.subtype")
    a(ng-switch-when="x-rar", ng-href="/info{{getPathQueryString()}}", title="{{file.name}}")
      i.fa.fa-file-archive-o
      |  {{file.name}}
    a(ng-switch-default, ng-href="/info{{getPathQueryString()}}", title="{{file.name}}")
      i.fa.fa-file-o
      |  {{file.name}}
  div(ng-switch-default)
    a(ng-href="/info{{getPathQueryString()}}", title="{{file.name}}")
      i.fa.fa-file
      |  {{file.name}}