navbar
.container-fluid
  .row
    .col-xs-12.col-lg-12
      span(ng-if="!file.path")
        | load file..
      dl.dl-horizontal(ng-if="file.path")
        dt Filename
        dd {{file.name}}
        dt Size
        dd {{file.size | bytes}}
        dt Changed
        dd {{file.ctime | amCalendar}}
        dt Modified
        dd {{file.mtime | amCalendar}}
        dt Accessed
        dd {{file.atime | amCalendar}}
        dt Location
        dd
          a(ng-href="/files?path={{file.dirname}}") {{file.dirname}}
        dt Mimetype
        dd {{file.mimetype}}
        dt Extension
        dd {{file.extension}}
    .col-xs-12.col-lg-12(ng-if="file.mediatype == 'video' || file.mediatype == 'audio' || file.subtype == 'octet-stream'")
      button.btn.btn-primary(ng-click="start()")
        i.fa.fa-play
playcontrol