//- nav.navbar.navbar-inverse.navbar-fixed-bottom
//-   .container
//-     .navbar-header
//-       .navbar-brand MediaCenter
//-     .navbar-text.navbar-right
//-       {{moment | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}
//- .container-fluid
.container
  .row
    .col-xs-12.col-md-4.center-block(ng-repeat="(name, address) in addresses")
      .img-thumbnail.img-responsive.text-center
        qrcode(data="{{address.address}}:{{port}}", size="300")
        h4 {{address.address}}:{{port}}
    .col-xs-12.col-md-8
      .row
        .col-md-6(ng-if="tv.poster_path")
          .popular.img-thumbnail.img-responsive.text-center
            img(ng-src="{{tv.poster_path}}", alt="")
            h4 {{tv.original_name}}
        .col-md-6(ng-if="movie.poster_path")
          .popular.img-thumbnail.img-responsive.text-center
            img(ng-src="{{movie.poster_path}}", alt="")
            h4 {{movie.original_title}}
    //- .col-md-12.text-right
    //-   .time {{moment | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}
nav.navbar.navbar-inverse.navbar-fixed-bottom
  .container
    .navbar-header
      .navbar-brand Benthe's MediaCenter
    .navbar-text.navbar-right
      | {{moment | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}